<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968654133575-reptg02ie32epjhkkj7q58sjjm68kou8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968654133575-reptg02ie32epjhkkj7q58sjjm68kou8</string>
	<key>API_KEY</key>
	<string>AIzaSyCfMh2p4xB4-e-c-slzUgxvOLe7vfWDVGI</string>
	<key>GCM_SENDER_ID</key>
	<string>968654133575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thebargym</string>
	<key>PROJECT_ID</key>
	<string>gym-management-e98f3</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-management-e98f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968654133575:ios:9eb527d28d17e9af5a5462</string>
</dict>
</plist>